.categories {
    display: flex;
    justify-content: space-between;

    div {
        select {
            border: none;
            outline: none;
            padding: 0 .5rem;
            box-shadow: none;
        }
    }

}


.mainContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 95%;

    .productPreview {

        display: flex;
        flex-direction: column;

        justify-content: space-around;
        padding: 0 10px;
        border: 2px solid gray;
        border-radius: 1%;
        width: 40%;
        height: 100%;
        box-shadow: rgba(0, 183, 255, 0.573) 5px 5px, rgba(0, 183, 255, 0.37) 10px 10px, rgba(0, 183, 255, 0.452) 15px 15px, rgba(0, 183, 255, 0.118) 20px 20px, rgba(0, 183, 255, 0.03) 25px 25px;

        .thumbnail {
            width: 100%;
            height: 15rem;
            border-radius: 1%;
            object-fit: contain;

            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }



        .loader {

            width: 100%;
            height: 15rem;
            position: relative;
            background: #FFF;
            border-radius: 4px;
            overflow: hidden;
        }

        .loader:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40px;
            height: 40px;
            transform: rotate(45deg) translate(30%, 40%);
            background: #ff9371;
            box-shadow: 32px -34px 0 5px #ff3d00;
            animation: slide 2s infinite ease-in-out alternate;
        }

        .loader:after {
            content: "";
            position: absolute;
            left: 10px;
            top: 10px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #ff3d00;
            transform: rotate(0deg);
            transform-origin: 35px 145px;
            animation: rotate 2s infinite ease-in-out;
        }

        @keyframes slide {

            0%,
            100% {
                bottom: -35px
            }

            25%,
            75% {
                bottom: -2px
            }

            20%,
            80% {
                bottom: 2px
            }
        }

        @keyframes rotate {
            0% {
                transform: rotate(-15deg)
            }

            25%,
            75% {
                transform: rotate(0deg)
            }

            100% {
                transform: rotate(25deg)
            }
        }


        div {
            input {
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.242);
            }

            textarea {
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.242);
                width: 95%;
            }
        }

    }


    form {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 55%;
        height: 100%;
        border: 2px solid gray;
        border-radius: 1%;

        box-shadow: rgba(0, 183, 255, 0.573) 5px 5px, rgba(0, 183, 255, 0.37) 10px 10px, rgba(0, 183, 255, 0.452) 15px 15px, rgba(0, 183, 255, 0.118) 20px 20px, rgba(0, 183, 255, 0.03) 25px 25px;

        div {
            padding: .8rem 0;
            margin: .7rem 0;

            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.3;
            color: var(--color-dark);

            label {
                padding-right: .5rem;

            }

            input {
                border: none;
                outline: none;
                padding: 0 .5rem;
                box-shadow: none;
                width: 75%;

                color: rgba(0, 0, 0, 0.576);

                transition: box-shadow 0.2s ease-in-out;

                &:focus {
                    box-shadow: none;
                }
            }

            textarea {

                width: 98%;

            }

            width: 45%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.308);

            select {

                border: none;
                padding: 0 .5rem;
                margin: 0 .5rem;
                border-radius: 10%;

            }
        }

    }


}



.buttonContainer {


    display: flex;
    justify-content: space-between;
    border: none;

    .buttonAddData {

        display: inline-block;
        outline: none;
        cursor: pointer;
        font-weight: 300;
        border-radius: 3px;
        padding: 4px 8px;
        border-radius: 4px;
        color: #fff;
        background: #6200ee;
        line-height: 1;
        font-size: 14px;
        height: 36px;

        text-decoration: none;
        min-width: 64px;
        border: none;
        text-align: center;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background: rgb(98, 0, 238);
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
        }
    }


    .buttonClearData {

        display: inline-block;
        outline: none;
        cursor: pointer;
        font-weight: 300;
        border-radius: 3px;
        padding: 4px 8px;
        border-radius: 4px;
        color: #fff;
        background: #8b8a8c;
        line-height: 1;
        font-size: 14px;
        height: 36px;

        text-decoration: none;
        min-width: 64px;
        border: none;
        text-align: center;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
        }
    }
}

.previewCategory {
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.previewPriceData {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.previewProductName {

    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
    color: var(--color-dark);
}

.imageContainer {
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: center;
    align-items: center;

    .imageContainerData {
        width: 40%;
    }

    .imageGalleryContainer {
        width: 60%;

        div {
            display: flex;
            justify-content: end;
            width: 100%;

            img {
                display: flex;
                justify-content: center;
               
                height: 8.4rem;
                object-fit: contain;
                border-radius: 3%;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
        }
        .SpinnerContainer{
        
        }
    }
}



.spinnerLoader{
    width: 2rem;
    height: 2rem;
}