.footer {
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    p {
      color: #fff;
    }
  }

  .upperSection{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: #0a1930;
    color: #fff;
    width: 100%;
    padding: 20px 5px;
    flex-wrap: wrap;

    .footerSection{
      height: 150px;
      margin: 5px 5px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:start;
      font-size: small;

      h4{
        color: #ff4500;
      }
    }
    .socailMedia{
      width: 80%;
     margin: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      color: #ff4500;
    }
  }

